<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hts.hometoschool">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".pojo.HTSApp"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".modules.IndexModule.ReadNewsActivity"/>
        <activity android:name=".modules.ClassModule.ProjectIntroduceActivity"/>
        <activity android:name=".modules.ClassModule.part.ClassContentActivity"/>
        <activity android:name=".modules.ClassModule.part.CommentActivity"/>
        <activity android:name=".modules.InfoModule.UpdateInfoActivity"/>
        <activity android:name=".modules.ClassModule.part.CheckNotes"/>
        <activity android:name=".modules.ClassModule.part.ProCheckActivity"/>
        <activity android:name=".modules.ClassModule.part.LastProActivity"/>
        <activity android:name=".modules.InfoModule.CheckingProActivity" />
        <activity android:name=".modules.InfoModule.NoPassProActivity"/>
        <activity android:name=".modules.InfoModule.PassProActivity" />
        <activity android:name=".modules.InfoModule.loginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>